<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <p class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-zinc-900 text-balance">
      Welcome to Hangman!
    </p>
    <p class="mt-4 text-base leading-7 text-zinc-600">
        <.button phx-click={Router.Helpers.page_path(@conn, :new)}>New game</.button>
    </p>
  </div>
</div>

